[defaults]
inventory = inventory
remote_user = devops
ssh_ask_pass = false
interpreter_python = auto_silent

[privilage_escalation]
become = true
become_method = sudo
become_user = root
become_ask_passw = false